body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card {
    width: 420px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    background: #C6E9CA;
    color: #1C3E20;
    box-shadow: none;
    transition: box-shadow 0.5s, background 0.5s;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0px 5px 10px 7px rgba(59, 83, 62, 0.3);
    background: #DAF0DD;
}

h1 {
    font-size: 40px;
    font-style: italic;
    margin: 60px 0 60px 0;
}

.hori-line {
    width: 2px;
    background: #49A078;
}

h2 {
    font-size: 32px;
    margin: 0px;
}

.job {
    font-size: 16px;
    color: #207B2B;
    margin-top: 5px;
}

.contact {
    margin-top: 40px;
    line-height: 0.8;
}

p {
    font-size: 13px;
}

.border-blue {
    border: 1px dotted blue;
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

/*
Final challenge:
Download the code to your local computer and place it
in a folder called "business-card"
*/
